./DS_Store
./.vscode
./.idea

./class-materials
./hw1
./reference-implementations
./cmpe483-2024-fall-hw2.pdf
./frontend/node_modules

./node_modules

./hardhat-accounts.txt

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
